<!DOCTYPE html>
<html lang="en">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="<?php echo $view->get('code')?>">
    <meta name="description" content="<?php echo $view->get('code')?>">
    <title><?php echo $view->get('data.title')?></title>

    <?php $viewPath = $view->get('website.current.view'); ?>
	<?php $staticVersion = $view->get('website.static_version'); ?>
    <link rel="shortcut icon" href="<?php echo $viewPath;?>image/favicon.ico">
    <link rel="icon" sizes="32x32" href="<?php echo $viewPath;?>image/favicon.ico">
    <link rel="Bookmark" href="<?php echo $viewPath;?>image/favicon.ico">

    <link rel="stylesheet" href="<?php echo $viewPath;?>css/tailwind.min.css<?php echo $staticVersion; ?>">

    <link href="https://unpkg.com/element-plus/dist/index.css" rel="stylesheet">
  </head>

  <body>
<?php use App\Core\Compile;?>
<?php include Compile::include(APP_PATH.'app/views/htm/header.inc.htm');?>
	<div class="flex-grow text-center">
		<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 grid grid-cols-1 gap-8 items-start">
			<div class="bg-white dark:bg-gray-800/40 border-y md:border border-gray-200 dark:border-gray-700/50 md:rounded-2xl divide-y divide-gray-100 dark:divide-gray-700/30 overflow-hidden shadow-sm w-full" id="thread-list">
                <div class="group flex items-start gap-3 md:gap-4 px-4 py-5 hover:bg-gray-50 dark:hover:bg-gray-800/40 transition-all ">
                    <div class="flex flex-col items-center justify-center min-w-[50px] gap-1">
                        <div class="ajax-body">
							<p><?php echo $view->get('message')?></p>
						</div>
					</div>
				</div>     
			</div>
		</div>
		<?php $actionLinks = $view->get('data.action_links') ?? []; ?>
        <?php if (!empty($actionLinks)) { ?>
          <div class="space-y-3">
            <?php foreach ($actionLinks as $link) { ?>
              <a href="<?php echo htmlspecialchars($link['url'] ?? '/'); ?>"
                <?php if (!empty($link['target'])) { ?>target="<?php echo htmlspecialchars($link['target']); ?>"<?php } ?>
                class="inline-block rounded bg-blue-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring">
                <?php echo htmlspecialchars($link['label'] ?? 'Go Back Home'); ?>
              </a>
            <?php } ?>
          </div>
        <?php } else { ?>
          <?php $redirectUrl = $view->get('data.redirect.url'); ?>
          <?php 
		  if ($redirectUrl) { ?>
            <a id="msg-action-link" href="<?php echo htmlspecialchars($redirectUrl); ?>"
              class="inline-block rounded bg-blue-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring">
              Go Back Home
            </a>
            <script ajax-eval="true">
              (function() {
                var isInModal = !!document.getElementById('wellcms-global-dialog');
                var link = document.getElementById('msg-action-link');
                if (isInModal && link) {
                  var btn = document.createElement('button');
                  btn.className = link.className;
                  btn.innerHTML = 'Refresh Page';
                  btn.onclick = function() { window.location.reload(); };
                  link.parentNode.replaceChild(btn, link);
                }
              })();
            </script>
          <?php } ?>
        <?php } ?>
    </div>
<?php include Compile::include(APP_PATH . 'app/views/htm/footer.inc.htm');?>

  </body>

  <?php $redirectUrl = $view->get('data.redirect.url'); ?>
  <?php if ($redirectUrl && '' !== $view->get('data.redirect.delay')) { ?>
  <script ajax-eval="true">
    (function() {
      var isInModal = !!document.getElementById('wellcms-global-dialog');
      if (!isInModal) {
        setTimeout(function () {
          window.location = <?php echo json_encode($redirectUrl); ?>;
        }, <?php echo json_encode((int)$view->get('data.redirect.delay')); ?> * 1000);
      }
    })();
  </script>
  <?php } ?>

</html>
